section.features 
  article.feactures__article
    h2 Tailor-made features
    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae sint blanditiis quibusdam.
  .features__list 
    +feature("Robust workflow", "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae sint blanditiis quibusdam.", "../../../assets/img/icons/01.png")
    +feature("Flexibility", "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae sint blanditiis quibusdam.", "../../../assets/img/icons/02.png")
    +feature("User friendly", "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae sint blanditiis quibusdam.", "../../../assets/img/icons/03.png")
    +feature("Multiple layouts", "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae sint blanditiis quibusdam.", "../../../assets/img/icons/04.png")
    +feature("Better component", "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae sint blanditiis quibusdam.", "../../../assets/img/icons/05.png")
    +feature("Well organised", "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae sint blanditiis quibusdam.", "../../../assets/img/icons/06.png")