section.hero
  include ./navbar
  .hero__content-wrapper
    .hero__content
      article.hero__article
        h1 Organise project. hr get more done.
        +button("get started")
      .hero__img 
        img(src="../../../assets/img/content/phone-mockup-3.png", alt="phone")