section.sponsors
  .sponsors__list 
    img(src="../../../assets/img/logos/Airbnb Logo.png", alt="sponsor")
    img(src="../../../assets/img/logos/Hubspot Logo.png", alt="sponsor")
    img(src="../../../assets/img/logos/Google Logo.png", alt="sponsor")
    img(src="../../../assets/img/logos/Microsoft Logo.png", alt="sponsor")
    img(src="../../../assets/img/logos/Walmart Logo.png", alt="sponsor")
    img(src="../../../assets/img/logos/FedEx Logo.png", alt="sponsor")